<div class="right-section" >
	<div class="submenu-green">
		 <h5><span class="pull-left iApprobed"></span>The card has been added
		   <!--<span ng-click="close()" class="glyphicon glyphicon-remove pull-right alose-button"></span>-->
		 </h5>
	</div>
  	<form>
  		<div class="paddingCenter">
  			<input type="text" class="form-control input-normal" ng-model="benef.name" disabled> </input>
  		</div>
  		<div class="paddingCenter">
  			<input type="text" class="form-control input-normal" ng-model="benef.card" disabled>
  		</div>
  		<div class="paddingCenter">
  			<input type="text" class="form-control input-normal" ng-model="benef.amount" disabled>
  		</div>
	  <!--<div class="side-block">
	  	<p>Nombre:</p>
	  	<input type="text" class="form-control input-normal" ng-model="benef.name" disabled> </input>
	  	<br>
	  	<p>Tarjeta de Cr&eacute;dito / Departamental:</p>
	  	<input type="text" class="form-control input-normal" ng-model="benef.card" disabled>
	  	<br>
	  	<p>Importe m&aacute;ximo:</p>
	  	<input type="text" class="form-control input-normal" ng-model="benef.amount" disabled>
	  </div>-->
	</form>
</div>