$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
*{outline:none;}
body, html, #mainDiv {
    height: 100%;
    font-family: Arial, sans-serif;
    background: #f2f3f3;
    -webkit-font-smoothing:antialiased;
    font-size: 13px;
    color:#434040;
}
//VARS
$primary-color:#054c87; //azul hover
$secondary-color:black; 
$aux-color:#05589d; //botones

//MIXINS
@mixin border_radius($radius: 10px) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
@mixin gradient_top_bottom($color_top: #ffffff, $color_bottom: #000000) {
  background: $color_top !important;
  background: -moz-linear-gradient(top, $color_top 0%, $color_bottom 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color_top), color-stop(100%,$color_bottom)) !important;
  background: -webkit-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
  background: -o-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
  background: -ms-linear-gradient(top, $color_top 0%,$color_bottom 100%) !important;
  background: linear-gradient(to bottom, $color_top 0%,$color_bottom 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_top, endColorstr=$color_bottom,GradientType=0 ) !important;
}
@mixin box_shadow($shadow: #000000){
  -moz-box-shadow: 0 0 10px $shadow;
  -webkit-box-shadow: 0 0 10px $shadow;
  box-shadow: 0 0 10px $shadow;
}
@mixin anim_transicion_ease( $segundos: 0.3s ){
  transition: all $segundos ease;
  -ms-transition: all $segundos ease;
  -webkit-transition: all $segundos ease;
  -o-transition: all $segundos ease;
  -moz-transition: all $segundos ease;
}

//BOOTSTRAP RESET
.ui-datepicker{
  background:white;
  padding:10px;
  @include border_radius(5px);

  table, div{
    width:200px;

    .ui-datepicker-next{
      float:right;
    }
  }
}
.btn{
  border:none;
  padding: 7px 0;
  font-size: 14px;
  -webkit-font-smoothing:antialiased;
}
.btn-info{
  background:$aux-color;
}
.btn-info:hover, .btn-info:active{
  background:$primary-color;
}
.btn-default{
  border:1px solid #cccccc;
}
.btn-default:hover, .btn-default:active{
  background:#efefef;
}
.alert-danger{
  border:none;
}
i{
            font-style: normal;
            font-weight: bold;
          }
.login_back {
    background: black url("/images/bg_hme.jpg") center center no-repeat;
    background-size: cover;
    height: 100%;

    .home_header {
        color: #FFF;

        p {
            margin-top: 20px;
        }

        a, a:hover {
            margin-top: 5px;
            color: #FFF;
            background:none!important;
        }
    }

    .logo {
        background: url("/images/logo.png") no-repeat center center;
        background-size: auto 50px;
        height: 50px;
        margin: 0 auto 30px auto;
        width: 222px;
    }

    .login-form {
        background: #FFF;
        margin-top: 80px;
        padding: 30px;
        width: 300px;
        text-align: center;
        color: #999;

        p {
            font-size: 18px;
            margin-top: 30px;
            margin-bottom: 16px;
        }

        input {
            border: none;
            box-shadow:none;
            padding: 15px 0;
            width: 100%;
            text-align: center;
        }

        .border {
            font-size: 16px;
            border-bottom: 1px solid #bdbdbd;
            width: 100%;
        }
        .btn{
          background:$aux-color;
          color:white;
          margin:10px 0;
          width: 100%;
        }
        .btn:hover, .btn:active{
          background:$primary-color;
        }
        input[type="checkbox"] {
            width: 12px!important;
            height: 12px!important;
            float: none;
        }

        .registration {
            border-top: 1px solid #bdbdbd;
            margin-top: 15px;
            margin-left: -30px;
            padding-top: 15px;
            width: 300px;
            color:$secondary-color;
        }
    }

    .rounded {
        @include border_radius(7px);
    }

    .shadow {
        @include box_shadow(#2f2f2f);
    }
    .home_footer {
        color: #FFF;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 11px;

        a, a:hover {
            color: #FFF;
            padding:0 7px;
            border-right:1px solid white;
        }

        a:last-child{
          margin-right:5px;
        }
    }
}

.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    .main-menu .nav .dropdown-menu li a{
        color: black !important;
    }

    .nav a {
        background: none !important;
     }
}
.btn-alertas{
  background:white;
  padding: 7px 10px;
  margin:13px 10px 0 0;
  border-bottom:1px solid $primary-color;
}
.btn-alertas:hover{
  background:#efefef;
}
.status-navbar {
    background: $secondary-color;
    color: #FFF;
    font-size: 11px;
    padding: 5px 0;

    a,a:hover{
      color:white;
      padding: 0 7px;
      border-right:1px solid white;
    }
    a:last-child{
      border:none;
    }
}

.main-menu {
    width: auto;
    height: 67px;
    border:none;
    @include gradient_top_bottom(#5dbefb,#1b477f);
    @include border_radius(0);

    .bank-logo {
        background: url(/images/bank_logo.png) no-repeat left center !important;
        background-size: auto 45px !important;
        width: 189px;
        height: 50px;
        display: block;
        float: left;
        margin: 9px 20px 0 0;
    }

    .nav li {
        margin: 24px 15px 0 15px !important;
        font-size: 13px;
        color: #214b86;
        font-weight: bold;
        text-transform: uppercase;
    }

    .nav li.active a{
        font-size: 14px;
        color: rgba(255,255,255,1)
    }

    .nav a {
        padding: 0 !important;
        color: #214b86;
        @include anim_transicion_ease(0.25s);
    }

    .nav.user a, .nav.user a .caret, .nav.user a:hover, nav.user a:hover .caret{
        color: white;
        opacity:1;
    }
    .nav.user a strong.caret, nav.user a:hover strong.caret{
        opacity:1;
        border-top-color:white;
        border-bottom-color:white;
    }

    .nav a:hover {
        color: rgba(255,255,255,0.8);
        background: none !important;
    }

    .btn-logout {
        padding:7px 10px;
        margin-top:17px;
        color:white;
        background:#1b3a56;
        font-size: 12px;
        padding: 7px 25px;
    }

    .btn-logout:hover, .btn-logout:active {
       background:#152d42;
    }
    .icoMenu{
      margin: -2px 10px 0 20px;
        img{
          width:20px;
        }
    }
    .icoFaq{
      margin: -2px 10px 0 10px;
      img{
          width:20px;
        }
    }
    .user .dropdown-menu {
      @include border_radius(6px);

      li {
        margin: 0 !important;

        a {
          padding: 5px 15px!important;
        }

      }

      li:hover {
        background-color: #F4F8FB;
      }
    }
}

.content > .container {
    padding: 90px 0;
}

.title h1 {
    color: #5b5b5b;
    font-size: 22px;
    padding-top: 5px;
}

.btn-alert {
    margin: 20px 30px 0 0;
}
section.scroll{
  height: 430px;
  padding: 10px 10px 0 10px;
  overflow-y:hidden;
  overflow-x:scroll;
  position: relative;
}
section.scroll > .scroll{
  width:200% !important; 
}
.account > a{
      display: block;
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height: 90px;
}
.account {
  position: relative;
    width:230px;
    padding: 90px 15px 10px 15px;
    margin: 10px 20px;
    background: #FFF;
    border: 1px solid #efefef;
    overflow: hidden;
    @include border_radius(5px);
    @include box_shadow(#e3e3e3);
  

    img {
        width: auto;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        font-size: 14px;
        margin:10px;
        color: $primary-color;
        text-align: center;
        font-weight: bold;
        height: 30px;
    }

    .date-section {
        margin:10px 0 0 0;
        padding: 5px 10px;
        background: white;
        border-top:1px solid #efefef;
        font-weight: bold;
    }
    .amounts-section {
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        padding: 5px 0;
        height: 144px;
        line-height: 25px;
        
        .col-xs-4{
          padding: 0; 
        }

        .amount, .available-amount {
            font-weight: bold;
            text-align: right;
        }

        .available {
            color: $secondary-color;
        }
    }
    .amounts-section > .row{
          margin: 0;
    }

    .amounts-section-transfer {
      height: 295px !important;
      padding-top: 20px;
    }

    .buttons {
        margin-top:10px;
        text-align: center;
        height: 40px;
        line-height: 40px;
        a, a:hover, a:active{
          color:$primary-color;
        }
        .btn{
          padding:7px 10px;
        }
    }
}

.banner {
    margin: 10px 0px;
}

.tools {
    padding: 20px;
    margin: 10px 0;
    background: #FFF;
    @include border_radius(5px);
    font-family: Arial, sans-serif;

    .row {
        margin: 0 0 10px 0;
    }

    .download-text {
        font-size: 24px;
        color: #5b5b5b;
    }


    .tip-text {
        color: #999999;
    }

    .iphone-tip {
        background: url(/images/iphone_icon.png) no-repeat;
        margin: -5px 0 0 -10px;
        width: 50px;
        height: 50px;
        display: block;
    }

    .lock-tip {
        background: url(/images/lock_icon.png) no-repeat;
        margin: -5px 0 0 -10px;
        width: 50px;
        height: 50px;
        display: block;
    }

    .ticket-tip {
        background: url(/images/ticket_icon.png) no-repeat;
        margin: -5px 0 0 -10px;
        width: 50px;
        height: 50px;
        display: block;
    }
}

.footer {
    background: #FFFFFF;
    color: #999999;
    font-size: 11px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-top:1px solid #efefef;
    font-family: Arial, sans-serif;

    a, a:hover {
        color: #999999;
        padding:0 7px;
        border-left:1px solid #efefef;
    }
    a:first-child{
      margin-left: 5px;
    }
    a:last-child{
      border:none
    }

}
.glyphicon-chevron-up::before{
  content:"";
  display: block;
  width: 20px;
  height: 10px;
  background:url(/images/up.png) no-repeat center top;
}
.glyphicon-chevron-down::before{
  content:"";
  display: block;
  width: 20px;
  height: 10px;
  background:url(/images/down.png) no-repeat center top;
}
.account-header {
    top: 85px;
    @include gradient_top_bottom(#5dbefb,#1b477f);
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 80px;

    .btn{
      display:block;
      float:left;
      background:none;
      font-size: 11px !important;
      color:#bdbdbd;
      height: 80px;
      padding: 0 15px;
      @include border_radius(0);
      span{
        display:block;
        width: 30px;
        height: 30px;
        margin: 10px auto;
      }
      .tcredito{
        background:url(/images/ico-tarjeta.png) no-repeat center center;
        background-size:30px;
      }
      .tservicios{
        background:url(/images/ico-servicios.png) no-repeat center center;
        background-size:30px;
      }
      .ttransfer{
        background:url(/images/ico-traspaso.png) no-repeat center center;
        background-size:30px;
      }
      .tta{
        background:url(/images/ico-ta.png) no-repeat center center;
        background-size:30px;
      }
    }
    .btn:hover, .btn:active, .btn.active{
      background:white;
      color:white !important;
      span{
        margin-top:30px;
      }
      .tcredito{
        background:url(/images/ico-tarjeta-a.png) no-repeat center center;
        background-size:30px;
      }
      .tservicios{
        background:url(/images/ico-servicios-a.png) no-repeat center center;
        background-size:30px;
      }
      .ttransfer{
        background:url(/images/ico-traspaso-a.png) no-repeat center center;
        background-size:30px;
      }
      .tta{
        background:url(/images/ico-ta-a.png) no-repeat center center;
        background-size:35px;
      }
    }

    .account-name {
      color:white;
      margin: 0;
      padding-top:35px;
      font-size: 18px;
    }

    .last-digits {
        color: white;
    }

    h4 {
        font-size: 22px;
        color:$primary-color;
      
      p{
        font-size: 13px;
        color:#434040;
        text-align: center;
      }
    }

    .small {
      margin-top: -10px;
      margin-right: 10px;
      height: 40px;
      width: 60px;
      float: left;
    }

}

.left-inner-addon {
  position: relative;
  margin-top: 8px;

  input {
    padding-left: 30px;

  }

  i {
    position: absolute;
    padding: 8px 12px;
    pointer-events: none;
  }
}

.account-menu {
    top: 150px;
    background:white;
    position: absolute;
    z-index: 900;
    width: 100%;
    padding-bottom: 5px;

    .account-menu-buttons.pull-right .btn{
      background:none;
      border:none;
      color:#434040;
      box-shadow:none;
    }
    .account-menu-buttons.pull-right .btn:hover, .account-menu-buttons.pull-right .btn:active, .account-menu-buttons.pull-right .btn.active{
      background:rgba(29, 108, 175, 0.6);
      border:none;
      color:white;
    }
    .account-menu-buttons {
        margin-top: 7px;

        h5 {
            float: left;
            color:$primary-color;
            font-size: 13px;
            font-weight: bold;
            margin-right: 10px;
        }
        .btn{
              float: left;
              background:rgba(169, 38, 34, 0.6);
              color:white;
              margin: 0 5px;
              padding: 7px;
              @include border_radius(3px);
        }
        .btn:hover, .btn:active{
          background:rgba(169, 38, 34, 0.8);
        }
    }
}
.col-md-5.col-lg-4.pull-right{
  padding: 0 !important;
  background:#f9f9f9;
}
.right-section-default {
  //width: 30%;
  background:#f9f9f9;
  @include border_radius(0);

  img{
    width:100%;
    margin-top: 40px;
    border:1px solid white;
  }
}
.paddingCenter{
  overflow: hidden;
  padding: 15px;
  border-bottom:1px solid #efefef;
  input.fAmount, input.fAmount:active, input.fAmount:focus{
    padding:10px !important;
    width: 100%;
    font-size: 18px;
  }
  .ng-valid.ng-dirty, .ng-dirty{
    border-color:#b3b5bd;
  }
  input, input:active, input:focus, textarea, textarea:focus, textarea:active{
    resize:none;
    box-shadow:none;
    background:white;
    border: 1px solid #b3b5bd;
    padding:7px 10px;
    font-size: 14px;
    @include border_radius(10px);
  }
  input[name="correo"]{
    background: url(/images/ico-mail.png) no-repeat 95% center white;
     background-size:20px;
  }
  input[name="telefono"]{
    background: url(/images/ico-telefono.png) no-repeat 95% center white;
     background-size:20px;
  }
  .styleSelect{
     overflow: hidden;
     background: url(/images/ico-lupa.png) no-repeat 98% center white;
     background-size:20px;
     border: 1px solid #b3b5bd;
     @include border_radius(10px);
     select{
      background: transparent;
      border: 0;
     -webkit-appearance: none;
     }
  }
  span{
    display: block;
    float:left;
    margin-top: 9px;
  }
  span + input{
    background:url(/images/ico-calendario.png) no-repeat 95% center white;
    background-size:20px;
  }
}
.right-section {
  .left-inner-addon, p{
    margin:10px;
    padding: 0;
  }

  .btn{
    padding: 7px 10px;
    margin-right:10px;
  }
  .close-button {
    cursor: pointer;
  }

  .submenu-blue {
    padding: 15px;
    border-bottom:1px solid #efefef;
    h5{
      color:#575757;
      font-size: 18px;
    }
    button{
      background:#f2f6f7;
      border:1px solid #b3b5bd;
      font-size: 11px;
      color:#575757;
      padding:7px 10px;
      margin: 0 5px;
      @include border_radius(10px);
    }
    .addB{
      font-size: 14px;
      background:$aux-color;
      width:45%;
      color:white;
      border:none;
      @include border_radius(10px);
    }
    .addB:hover, .addB:active{
      background:$primary-color;
    }
    .addB + button{
       width:45%;
       font-size: 14px;
    }
  }

  .submenu-yellow {
    padding: 15px;
    border-bottom:1px solid #efefef;
    h5{
      color:#ffa102;
      border:2px solid #ffa102;
      padding: 10px;
      margin: 0;
      text-align: center;
      @include border_radius(10px);
      span:first-child{
        background:url(/images/ico-telefono-amarillo.png) no-repeat center center;
        background-size:20px;
        width: 20px;
        height: 20px;
      }
      span:last-child{
        background:url(/images/ico-duda.png) no-repeat center center;
        background-size:20px;
        width: 20px;
        height: 20px;
      }
    }
  }

  .yellow-message {
    padding: 15px;
    border-bottom:1px solid #efefef;
    input{
      resize:none;
      background:white;
      border: 1px solid #b3b5bd;
      padding:7px 10px;
      font-size: 14px;
      box-shadow:none;
      @include border_radius(10px);
    }
    button{
      background:$aux-color;
    }
    button:hover, button:active{
      background:$primary-color;
    }
    img {
      margin: 0 10px 0 20px;
    }
  }
.iApprobed{
      background:url(/images/ico-aprobado.png) no-repeat center center;
      background-size:40px;
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }
  .submenu-green {
    padding: 15px;
    border-bottom:1px solid #efefef;
    h5{
      color:#048f32;
      font-size: 18px;
      line-height: 40px;
    }

  }
label.fAmount{
  font-size: 18px;
}
  .green-message {
    padding: 0;
    .side-block{
      padding:10px 0;
    }
    div{
      border:none;
      margin: 0 !important;
    }
    .col-md-12{
      overflow: hidden;
      span{
        color:#ccc;
      }
      p{
        float:left;
        width: 45%;
        margin: 0;
      }
      label{
        float:right;
        width: 54%;
        margin: 0;
        text-align: right;
      }
    }
  }
.tApproved{
  border-top:1px solid #efefef !important;
  border-bottom:1px solid #efefef !important;
  button{
    background:url(/images/ico-print.png) no-repeat 35% center white;
    background-size:15px;
    border:1px solid $primary-color;
    color:$primary-color;
  }
  button:active, button:hover{
    background:url(/images/ico-print.png) no-repeat 35% center #fbfbfb;
    background-size:15px;
  }
}
  .submenu-gray {
    padding: 5px 15px;
    background:#efefef;
    border-bottom:1px solid #efefef;
  }

  .white-message {
    padding:5px 0;
    .row {
      margin: 0;
      padding: 3px 0;
      a, a:hover, a:active{
        color:#575757;
        text-decoration:none;
      }
    }
  }

  .remove-service {
    margin-top: 15px;
  }

  .side-block {
    margin: 5px 0px;
    padding: 5px 0px;
    border-bottom: 1px solid #DEDEDE;

    .row {
      margin-bottom: 10px;
    }
  }


}
.glyphicon{

}
.transactions {
    padding-top: 165px;
    padding-bottom: 100px;
    background:white;
    .container{
      background:white;
      .nuevo{
        border-right:1px solid #efefef;
      }
    }
.buscar{
  overflow: hidden;
  margin:0 -15px;
  padding: 15px;
  input{
    width: 80%;
    background:url(/images/buscador.png) no-repeat 98% center, white;
    background-size:15px;
    @include border_radius(10px);
    border:1px solid #ccc;
    float:left;
  }
  span{
    text-align: center;
    float:right;
    border:1px solid #ccc;
    padding: 6px 0;
    width: 17%;
    font-size: 12px;
    background:url(/images/download.png) no-repeat 10% center;
    background-size:10px;
    @include border_radius(10px);
  }
}
.nuevosFiltros{
  background:#ebeff1;
  height: 40px;
  line-height: 40px;
  border-top:1px solid #efefef;
  margin: 0 -15px;
}
    .transaction {
        padding: 0 25px 0 17px;
        line-height: 25px;
        font-size: 14px;
        cursor: pointer;
        border-bottom:1px solid #efefef;

        h5 {
            text-transform: uppercase;
            font-size: 12px;
            color:#999999;

            span {
            font-size: 24px;
            font-weight: bold;
            display:block;
            color:#999999;
            }
        }

        .category {
            font-size: 12px;
            margin-top:15px;
            display: block;
        }
        .description{
          color:#999999;
          margin-top:15px;
          display: block;
        }

    }

    .selected {
      background-color: #5dbefb;
      *{
        color:white !important;
        *{
          color:white !important;;
        }
      }
      span{
          color:white !important;;
        }
    }
.overflowH{
  overflow: hidden;
  margin-bottom: 20px;
  span{
    margin: 0;
  }
}
    .detail-header {
      overflow: hidden;
      padding: 15px;
      border-bottom:1px solid #efefef;

        h3{
          margin: 0;
          float: left;
          color:#575757;
          font-size:18px;
          margin: 10px 0 20px 0;
        }
        span{
          color:$aux-color;
          font-weight: bold;
          font-style: 18px;
          text-transform: uppercase;
          margin-top: 13px;
        }
    }
    .detail-header +p{
      margin-top:20px;
    }

    .amount {
            font-size: 14px;
            color:#575757;
            margin-top:15px;
            font-weight: bold;
        }

    .last-services {
      background-color: #FFF;
      padding: 20px 15px 0 15px;
      border-top: 1px solid #DEDEDE;
      border-bottom: 1px solid #DEDEDE;
    }

    .services {
      padding: 20px 15px 0 15px;
    }

    .btn-success {
      background:$aux-color;
    }
    .btn-success:active,.btn-success:hover{
      background:$primary-color;
    }
}

.savings {
  background: url("/images/accounts/cuenta_savings.png") no-repeat center center;
  background-size: 110%;
}

.checks {
  background: url("/images/accounts/cuenta_checks.png") no-repeat center center;
  background-size: 110%;
}

.credit_card {
  background: url("/images/accounts/cuenta_credit_card.png") no-repeat center center;
  background-size: 110%;
}

.debit_card {
  background: url("/images/accounts/cuenta_debit_card.png") no-repeat center center;
  background-size: 110%;
}

//Styles made from developers
.borderDown{
    border-bottom:1px solid #bbb;
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom: 10px;
}

.box{
  border:1px solid #ccc;
  @include border_radius(5px);
  overflow:hidden;
  clear:both;
  background:#e6e8e7;
  margin:10px 0;
    .col-md-4{
            padding-top:5px;
            padding-bottom:5px;
            height:40px;
    }
}

.box .col-md-4 p{
    text-align:center;
    color: rgb(58, 151, 210);
    text-transform: uppercase;
    padding-top: 5px;
    span{
        color: #666;
    }
}

.span2{
border-right: 1px solid #ccc;
// needs latest Compass, add '@import "compass"' to your scss
background-color: #cecbc0;
}
.span3{
background-color: #bab7ab;
    text-align: center;
}
.noback {
    background-image: none;

}

.checks {
  padding: 40px 0;

  .estatus_ok {
    color: #3a97d2;
  }

  .estatus_error {
    color: #e8a20f;
  }
}

.checks h2 {
  text-align: left;
  color: #000;
  font-size: 18px;
  margin: 0;
  line-height:40px;
}

.checks h2 span {
  color: #666;
}

.checks .span1 {
  border-right: 1px solid #ccc;
  background-color: #e0ddd2;
  text-align: center;
  color: #666;
  padding: 5px 5px 0px 5px;
  margin-right: -15px;
}

.marging{
   text-align: center;
   margin-bottom: 20px;
   margin-top:20px;
   padding:10px;
   border-bottom: 1px solid #cccccc;
   border-left: 1px solid #cccccc;
   border-right: 1px solid #cccccc;
   border-top: 1px solid #cccccc;

}

input.input-box{
    backgroud:#fff;
    border: 1px solid #efefef;
    padding:4px 6px;
    @include border_radius(3px);
    width:50%;
}

.margingConf{
   text-align: center;
   border-bottom: 1px solid #cccccc;
   border-left: 1px solid #cccccc;
   border-right: 1px solid #cccccc;
   border-top: 1px solid #cccccc;
   background-color: #D8D8D8;
}

.margingConf1{
   text-align: center;
   border-bottom: 1px solid #cccccc;
   border-left: 1px solid #cccccc;
   border-right: 1px solid #cccccc;
   border-top: 1px solid #cccccc;
   height:48px;
}

.ng-invalid.ng-dirty{
    border-color: #FA787E;
}

.ng-valid.ng-dirty{
    border-color: #78FA89;
}

.submenu-blue.transfer{
    overflow:hidden;
}
