<div class="right-section" >
	<form name="myForm" ng-submit="confirmBeneficiary(benef.name, benef.clabe, benef.amount, benef.email, benef.phone)" novalidate>
  		<div ng-show="myForm.$valid">
			<div class="submenu-blue transfer">
			  	<div class="col-md-12">
			  		<button type="submit" class="addB"><span>Add</span></button>
			  		<button ng-click="close()"><span>Cancel</span></button>
			  		<!--<div class="col-md-6">
						<button type="submit"><span>Add</span></button>
					</div>
					<div class="col-md-6">
				 		<button ng-click="close()"><span>Cancel</span></button>
				 	</div>-->
				</div>
		  </div>
		</div><!--end ng-show-->
  		<div ng-hide="myForm.$valid">
		  <div class="submenu-blue">
		    <h5>Add beneficiary:
		      <button ng-click="close()" class="pull-right">Close</button>
		    </h5>
		  </div>				
		</div>
<div class="paddingCenter">
	<input type="text" name="nombre" placeholder="Name" class="form-control input-normal" ng-model="benef.name" ng-pristine ng-invalid required>
</div>
<div class="paddingCenter">
	<input type="text" name="clabe" class="form-control input-normal" placeholder="CLABE / Card / Mobile" ng-model="benef.clabe" ng-pristine ng-invalid required>
</div>
<div class="paddingCenter">
	<input type="number" name="importe" placeholder="Max amount" class="form-control input-normal" ng-model="benef.amount" min="0" ng-pristine ng-invalid required>
</div>
<div class="paddingCenter">
	<input type="email" name="correo" placeholder="Email" class="form-control input-normal" ng-model="benef.email" ng-pristine ng-invalid required>
</div>
<div class="paddingCenter">
	<input type="number" name="telefono" class="form-control input-normal" placeholder="Mobile"  ng-model="benef.phone" ng-pristine ng-invalid ng-minlength="10" ng-maxlenth="10" placeholder="10 d&iacute;gitos" required>
</div>
		<!--end ng-hide-->
	<!--<div class="side-block">
	  	<p>Nombre:</p>
	  	<input type="text" name="nombre" class="form-control input-normal" ng-model="benef.name" ng-pristine ng-invalid required>
	  	<br>
	  	<p>Clabe/Tarjeta/Celular:</p>
	  	<input type="text" name="clabe" class="form-control input-normal" placeholder="Banamex / Bancomer / Transfer" ng-model="benef.clabe" ng-pristine ng-invalid required>
	  	<br>
	  	<p>Importe m&aacute;ximo:</p>
	  	<input type="number" name="importe" class="form-control input-normal" ng-model="benef.amount" min="0" ng-pristine ng-invalid required>
	  	<br>
	  </div>
	  <div>
	  	<p>Email:</p>
	  	<input type="email" name="correo" class="form-control input-normal" ng-model="benef.email" ng-pristine ng-invalid required>
	  	<br>
	  	<p>Tel&eacute;fono celular:</p>
	  	<input type="number" name="telefono" class="form-control input-normal"  ng-model="benef.phone" ng-pristine ng-invalid ng-minlength="10" ng-maxlenth="10" placeholder="10 d&iacute;gitos" required>
	  </div>-->
	</form>
</div>
