<div class="right-section">

  <div class="submenu-blue">
    <h5>Transferencias
      <div class="pull-right">
        <button type="submit" ng-click="showAddBeneficiary()">Agregar beneficiario</button>
        <button ng-click="close()">Cerrar</button>
      </div>
    </h5>
  </div>

   <!--<div class="side-block">
    <span class="pull-right">
      <button class="btn btn-default" type="submit" ng-click="showAddBeneficiary()">
        &nbsp;
        <span class="glyphicon glyphicon-user"></span>
       <span class="glyphicon glyphicon-plus"></span>
        &nbsp;
      </button>
    </span>
    <p>Da de alta un beneficiario</p>
    <br />
  </div>
  <p>
    Deposit account:
  </p>-->
<div class="paddingCenter">
  <div class="styleSelect">
    <select class="form-control" ng-model="beneficiary.current" ng-options="a.beneficiary_name + ',  ' + a.issuer_name + ' ***' + a.number for a in beneficiaries" ng-change="updateTransfer()">
      <option data-icon="icon-calendar" value="">Transferir a</option>
    </select>
  </div>
</div>
</div>
