<div class="right-section">

  <div class="submenu-green">
    <h5>
      <span class="pull-left iApprobed"></span>
      Tu transferencia ha sido aprobada
      <!--<span ng-click="close()" class="glyphicon glyphicon-remove pull-right close-button"></span>-->
    </h5>
  </div>

  <div class="green-message">

    <div class="side-block">
      <div class="row">
        <div class="col-md-12">
          <p>Pagar a:</p>
          <label for="">{{beneficiary.current.beneficiary_name}}, {{beneficiary.current.issuer_name}} ***{{beneficiary.current.number}}</label>
        </div>
      </div>
    </div>

    <div class="side-block">
      <div class="row">
        <div class="col-md-12">
          <p>Cuenta retiro:</p>
          <label for="">{{currentAccount.name}} {{currentAccount.last_digits}}</label>
        </div>
      </div>
    </div>

    <!--<div class="side-block">
      <div class="row">
        <div class="col-md-7">
          <p>Authorization number</p>
          <label for="">002510</label>
        </div>
        <div class="col-md-5">
          <p>Amount:</p>
          <label for="">{{transfer.amount | currency}}</label>
        </div>
      </div>
    </div>-->

    <div class="side-block">
      <div class="row">
        <div class="col-md-12">
          <p>N&uacute;mero de autorizaci&oacute;n</p>
          <label for="">002510</label>
        </div>
      </div>
    </div>

    <div class="side-block">
      <div class="row">
        <div class="col-md-12">
          <p>Cantidad:</p>
          <label class="fAmount" for="">{{transfer.amount | currency}}</label>
        </div>
      </div>
    </div>

    <div class="side-block">
      <div class="row">
        <div class="col-md-12">
          <p>Balance actual:</p>
           <label for="">{{currentAccount.balance.current | currency}}</label>
        </div>
      </div>
    </div>

    <div class="side-block">
      <div class="row">
        <div class="col-md-12">
          <p>Fecha:</p>
           <label for="">{{transfer.date}}</label>
        </div>
      </div>
    </div>

    <!--<div class="side-block">
      <div class="row">
        <div class="col-md-7">
          <p>Actual balance:</p>
           <label for="">{{currentAccount.balance.current | currency}}</label>
        </div>
        <div class="col-md-5">
          <p>Date:</p>
           <label for="">{{transfer.date}}</label>
        </div>
      </div>
    </div>

    <div class="side-block" ng-show="transfer.sendmail">
      <label>
        Notification of payment to the beneficiary (optional)
      </label>
    </div>-->
    <div class="side-block" ng-show="transfer.sendmail">
      <div class="row">
        <div class="col-md-12">
          <span>Notificaci&oacute;n de pago al beneficiario (opcional)</span>
        </div>
      </div>
    </div>

    <div class="side-block">
      <div class="row">
        <div class="col-md-12">
          <p>Email:</p>
           <label for="">{{beneficiary.current.email}}</label>
        </div>
      </div>
    </div>

    <div class="side-block">
      <div class="row">
        <div class="col-md-12">
          <p>Mensaje:</p>
           <label for="">{{transfer.message}}</label>
        </div>
      </div>
    </div>

    <!--<div class="side-block" ng-show="transfer.sendmail">
      <div class="row">
        <div class="col-md-7">
          <p>Email:</p>
           <label for="">{{beneficiary.current.email}}</label>
        </div>
        <div class="col-md-5">
          <p>Message:</p>
           <label for="">{{transfer.message}}</label>
        </div>
      </div>
    </div>-->


    

  </div>
  <div class="paddingCenter tApproved">
      <button type="submit" class="btn btn-block">Imprimir</button>
    </div>
    <div class="paddingCenter">
      <button ng-click="showTransfers()" class="btn btn-block btn-success">Otra transferencia</button>
    </div>

  <div class="submenu-gray">
    <h5>&Uacute;ltimo pago</h5>
  </div>

  <div class="white-message">
    <div class="row">
      <div class="col-md-6">
        <span class="glyphicon glyphicon-briefcase"></span>
        &nbsp
        <a href="">{{beneficiary.current.alias}} {{beneficiary.current.currency}} {{beneficiary.current.lastdigits}}</a>
      </div>
      <div class="col-md-3">
        <a href="">18/01/2014</a>
      </div>
      <div class="col-md-3">
        $248.00
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="glyphicon glyphicon-briefcase"></span>
        &nbsp
        <a href="">{{beneficiary.current.alias}} {{beneficiary.current.currency}} {{beneficiary.current.lastdigits}}</a>
      </div>
      <div class="col-md-3">
        <a href="">19/12/2013</a>
      </div>
      <div class="col-md-3">
        $750.00
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="glyphicon glyphicon-briefcase"></span>
        &nbsp
        <a href="">{{beneficiary.current.alias}} {{beneficiary.current.currency}} {{beneficiary.current.lastdigits}}</a>
      </div>
      <div class="col-md-3">
        <a href="">16/10/2013</a>
      </div>
      <div class="col-md-3">
        $650.00
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="glyphicon glyphicon-briefcase"></span>
        &nbsp
        <a href="">{{beneficiary.current.alias}} {{beneficiary.current.currency}} {{beneficiary.current.lastdigits}}</a>
      </div>
      <div class="col-md-3">
        <a href="">19/09/2013</a>
      </div>
      <div class="col-md-3">
        $800.00
      </div>
    </div>

  </div>
</div>
