<div class="right-section">

  <div ng-show="token">
    <div class="submenu-yellow">
      <h5>
        <span class="pull-left"></span>
        Tel&eacute;fono no disponible
        <span class="pull-right"></span>
        <!--<span ng-click="close()" class="glyphicon glyphicon-remove pull-right close-button"></span>-->
      </h5>
    </div>

    <div class="yellow-message">
      <p>Ingresa manualmente tu llave din&aacute;mica</p>
      <div class="row">
        <div class="col-md-8">
          <div class="input-group">
            <span class="input-group-addon">23456789</span>
            <input type="password" class="form-control"/>
          </div>
        </div>
        <div class="col-md-4 pull-right">
          <button ng-click="applyServicePayment()" type="button" class="btn btn-info">Confirmar</button>
        </div>
      </div>

    </div>
  </div>

  <div ng-show="!token">
    <div class="submenu-yellow">
      <h5>
        <span class="pull-left"></span>
        Obteniendo token
        <span class="pull-right"></span>
        <!--<span ng-click="close()" class="glyphicon glyphicon-remove pull-right close-button"></span>-->
      </h5>
    </div>

    <div class="yellow-message">
      <img class="pull-right" src="/images/orange-ajax-loader-graybg.gif">
      <p>Hemos enviado una solicitud de autorizaci&oacute;n a tu dispositivo m&oacute;vil, por favor apru&eacute;bala</p>
    </div>
  </div>

  <div class="detail-header">
    <img class="img-rounded" src="/images/services/telmex.png">
  </div>

<div class="paddingCenter">
  <span>&Uacute;ltima transferencia: $750.00 12/02/2014</span>
        <input type="text" class="pull-right" placeholder="Monto" autofocus value="248.00" style="background:white;width:30%;">
</div>
<div class="paddingCenter">
  <span>L&iacute;nea de captura:</span>
        <input type="text" class="pull-right" placeholder="Línea de captura" value="MMM130347384573" style="background:white;">
</div>
<div class="paddingCenter">
  <span>D&iacute;gito global:</span>
        <input type="text" class="pull-right" placeholder="Dígito global" value="8797" style="background:white;">
</div>
<div class="paddingCenter">
  <span>D&iacute;a de pago:</span>
  <input type="text" class="pull-right" placeholder="Fecha" value="19/02/2014">
</div>
<div class="paddingCenter">
  <input type="checkbox"/> Guardar como frecuente
</div>
  <!--<div class="side-block">
    <div class="row">
      <div class="col-md-12">
        <p>Last transfer: $750.00 12/02/2014</p>
        <input type="text" class="form-control" placeholder="Monto" autofocus value="248.00">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p>Capture line:</p>
        <input type="text" class="form-control input-sm" placeholder="Línea de captura" value="MMM130347384573">
      </div>
      <div class="col-md-4">
        <p>Global digit:</p>
        <input type="text" class="form-control input-sm" placeholder="Dígito global" value="8797">
      </div>
    </div>
  </div>

  <div class="side-block">
    <div class="row">
      <div class="form-group">
        <div class="col-sm-3">
          <span class="glyphicon glyphicon-calendar"></span>
          Payment date:
        </div>
        <div class="col-sm-5">
          <input type="text" class="form-control input-sm" placeholder="Fecha" value="19/02/2014">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>
            <input type="checkbox"/> Guardar como operaci&oacute;n frecuente
          </label>
        </div>
      </div>
    </div>
  </div>-->

</div>
