<div class="login_back">
  <header class="home_header container">
    <p class="pull-left">Welcome to CITI</p>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language: English <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Espa&ntilde;ol</a></li>
          <li class="divider"></li>
          <li><a href="#">English</a></li>
        </ul>
      </li>
    </ul>
  </header>

  <section class="container login-form shadow rounded" ng-controller="LoginCtrl">
    <div class="logo"></div>
    <form class="form-signin" ng-submit="login()">
      <!--<p>Inicia sesión</p>-->
      <div class="alert alert-danger" ng-if="errorMessage">
        {{errorMessage}}
      </div>
      <label class="border">
        <input type="text" ng-model="username" class="form-control" placeholder="User" value="1234502" required autofocus>
      </label>
      <label class="border">
        <input type="password" ng-model="password"  class="form-control" placeholder="Password" value="A1234567" required>
      </label>
      <button ng-disabled="loginButtonStatus.disabled" class="btn" type="submit">{{loginButtonStatus.text}} Enter</button>
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
    </form>
    <div class="registration text-center">
      ¿Are you new? Register
    </div>
  </section>

  <footer class="home_footer container text-center">
        <a href="javascript:void(0);">Forgot your password?</a>
        <a href="javascript:void(0);">About us</a>
        <a href="javascript:void(0);">Search by Internet</a>
        <a href="javascript:void(0);">Mobile Bank</a>
        <a href="javascript:void(0);">Privacy</a>
        &copy; 2014 Anzen Soluciones S.A. de C.V.
  </footer>
</div>
